<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <section th:fragment="contact" class="contact-wrap sec-space-bottom">
        <div class="container rel-div pt-50">

            <div class="row">
                <div class="col-md-8">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2573.279614949909!2d24.033263776253026!3d49.83720343132926!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473add690d73c727%3A0x1c8931862c074ff6!2z0LLRg9C70LjRhtGPINCQ0LrQsNC00LXQvNGW0LrQsCDQkdC-0LPQvtC80L7Qu9GM0YbRjywgNiwg0JvRjNCy0ZbQsiwg0JvRjNCy0ZbQstGB0YzQutCwINC-0LHQu9Cw0YHRgtGMLCA3OTAwMA!5e0!3m2!1suk!2sua!4v1697894384740!5m2!1suk!2sua" width="80%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="col-md-4">
                    <div class="contact-details">
                        <h3 class="fsz-25"><span class="light-font">Naturix  </span> <strong>Address </strong>  </h3> 
                        <h6 class="sub-title-1 pb-15">ORGANIC STORE</h6>

                        <h5 class="clr-txt fsz-12 pt-15">NATURIX STORE</h5>
                        <p>142 West newton, NY 19088, United States</p>

                        <ul>
                            <li> <strong>Call:  </strong> <i>+7 (100) 2234 999</i> </li>
                            <li> <strong>Email: </strong> <i> <a href="#">info@montero.com</a> </i> </li>
                            <li> <strong>Skype: </strong> <i> <a href="#"> Montero.Property </a> </i> </li>
                            <li> <strong>Facebook: </strong> <i>  <a href="#"> Montero.facebook </a> </i> </li>
                            <li> <strong>Twitter: </strong> <i>  <a href="#"> @Montero.Property </a> </i> </li>
                        </ul>

                    </div>
                </div>
            </div>

        </div>                
    </section>
</body>

</html>