<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <section th:fragment="home" class="organic-product sec-space-bottom">
        <div class="container">

            <div class="row sec-space-top">
                <div class="col-lg-6 col-sm-12">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="organic-prod">
                                <img th:src="@{/images/organic-1.png}" alt="">
                                <span class="divider"></span>
                                <h3 class="title-1"> <a href="#"> <span class="light-font">organic </span> <strong>
                                            fruits</strong> </a> </h3>
                                <i class="clr-txt"> 52 items </i>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="organic-prod">
                                <img th:src="@{/images/organic-2.png}" alt="">
                                <span class="divider"></span>
                                <h3 class="title-1"> <a href="#"> <span class="light-font">fresh </span> <strong>
                                            vegetables</strong> </a> </h3>
                                <i class="clr-txt"> 35 items </i>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="organic-prod">
                                <img th:src="@{/images/organic-3.png}" alt="">
                                <span class="divider"></span>
                                <h3 class="title-1"> <a href="#"> <span class="light-font">organic </span> <strong>
                                            breads</strong> </a> </h3>
                                <i class="clr-txt"> 23 items </i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="organic-prod-info">
                        <h4 class="sub-title"> FRESH FROM OUR FARM </h4>
                        <h2 class="section-title ptb-15"> <span class="light-font">220+ </span> <strong>fruits,
                                vegetables </strong> <span class="light-font"> &amp; </span> <strong> lot more</strong>
                        </h2>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                            tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
                            nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                        </p>
                    </div>
                </div>
            </div>

            <div class="row sec-space-top">
                <div class="col-lg-6 col-sm-12">
                    <div class="organic-prod-info">
                        <h4 class="sub-title"> FRESH FROM OUR FARM </h4>
                        <h2 class="section-title ptb-15"> <span class="light-font">115+ </span> <strong>organic juices
                            </strong> <span class="light-font"> and </span> <strong> organic tea</strong> </h2>
                        <p class="fsz-16">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy
                            nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim
                            veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea
                            commodo consequat. </p>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="organic-prod">
                                <img th:src="@{/images/organic-4.png}" alt="">
                                <span class="divider"></span>
                                <h3 class="title-1"> <a href="#"> <span class="light-font">organic </span> <strong>
                                            juices</strong> </a> </h3>
                                <i class="clr-txt"> 26 items </i>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="organic-prod">
                                <img th:src="@{/images/organic-5.png}" alt="">
                                <span class="divider"></span>
                                <h3 class="title-1"> <a href="#"> <span class="light-font">dried </span> <strong>
                                            juices</strong> </a> </h3>
                                <i class="clr-txt"> 31 items </i>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="organic-prod">
                                <img th:src="@{/images/organic-6.png}" alt="">
                                <span class="divider"></span>
                                <h3 class="title-1"> <a href="#"> <span class="light-font">organic </span> <strong>
                                            tea</strong> </a> </h3>
                                <i class="clr-txt"> 17 items </i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>


    <footer class="page-footer sec-space light-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-12 footer-widget">
                    <div class="logo">
                        <a href="">
                            <img class="logo-img" src="./images/main-logo.png" alt="">
                        </a>
                        <span class="logo-text">ORGANIC STORE</span>
                    </div>
                    <span class="divider-2"></span>
                    <div class="text-widget">
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod
                            tincidunt ut laoreet dolore magna.</p>
                        <ul>
                            <li> <i class="bi bi-geo-alt-fill"></i> <span> <strong>100 highland ave,</strong>
                                    california, united state </span> </li>
                            <li> <i class="bi bi-envelope-fill"></i> <span><a href="#">contact@naturix.com</a> </span>
                            </li>
                            <li> <i class="bi bi-telephone-fill"></i> <span><a href="#">www.naturix.com</a> </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 footer-widget">
                    <h2 class="title-1"> <span class="light-font">naturix </span> <strong>information </strong> </h2>
                    <span class="divider-2"></span>
                    <ul class="list">
                        <li> <a href="#"> about our shop </a> </li>
                        <li> <a href="#"> top sellers </a> </li>
                        <li> <a href="#"> our blog </a> </li>
                        <li> <a href="#"> new products </a> </li>
                        <li> <a href="#"> secure shopping </a> </li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-4 footer-widget">
                    <h2 class="title-1"> <span class="light-font">my </span> <strong>account </strong> </h2>
                    <span class="divider-2"></span>
                    <ul class="list">
                        <li> <a href="my-account.html"> my account </a> </li>
                        <li><a href="account-information.html"> Account Information </a></li>
                        <li><a href="address-book.html"> Address Books</a></li>
                        <li><a href="order-history.html"> Order History</a></li>
                        <li><a href="review-rating.html"> Reviews and Ratings</a></li>
                        <li><a href="return.html"> Returns Requests</a></li>
                        <li><a href="newsletter.html"> Newsletter</a></li>
                    </ul>
                </div>

                <div class="col-md-3 col-sm-4 footer-widget">
                    <h2 class="title-1"> <span class="light-font">photo </span> <strong>instagram </strong> </h2>
                    <span class="divider-2"></span>
                    <ul class="instagram-widget">
                        <li> <a href="#"> <img src="./images/80x80-1.jpg" alt=""> </a> </li>
                        <li> <a href="#"> <img src="./images/80x80-2.jpg" alt=""> </a> </li>
                        <li> <a href="#"> <img src="./images/80x80-3.jpg" alt=""> </a> </li>
                        <li> <a href="#"> <img src="./images/80x80-4.jpg" alt=""> </a> </li>
                        <li> <a href="#"> <img src="./images/80x80-5.jpg" alt=""> </a> </li>
                        <li> <a href="#"> <img src="./images/80x80-6.jpg" alt=""> </a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>